.footer-top {
	background: #126ba3;
	box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.5);
	color: #fdfdfd;
	padding: 42px 0 47px;
	.btn {
		font-size: 14.58px;
		text-transform: none;
		font-weight: normal;
		font-family: 'Open Sans', sans-serif;
		padding-top: 5px;
		padding-bottom: 7px;
		i {
			margin-right: 25px;
		}
	}
}

.ft-left {
	float: left;
}

.ft-right {
	float: right;
	padding-top: 6px;
}

.footer-bottom {
	background: #1a5980;
	color: #fdfdfd;
	font-size: 13.75px;
	padding: 15px 0;
}

.footer-nav {
	float: left;
	width: calc(100% - 230px);
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
		text-decoration: underline;
		}
	}
}

.copyright {
	float: right;
	width: 230px;
	text-align: right;
}

#full-page {
	position: relative;
	min-height: 100vh;
	padding-bottom: 180px;
	background: #efeeee;
}

.site-footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}