
input[type=text], input[type=tel], input[type=email], input[type=submit], input[type=password], textarea {
    -webkit-appearance: none;
	-webkit-border-radius:0; 
    width: 100%;
	padding: 9px 24px;
	border-radius: 4px;
	background: white;
	border: solid 1px #939291;
	font-size: 14.58px;
	color: #717170;
}

select {
	width: 100%;
	padding: 9px 20px;
	border-radius: 4px;
	background: white;
	border: solid 1px #939291;
	font-size: 14.58px;
	color: #717170;
}


.page-bg {
	background: url(../img/page_bg.jpg) no-repeat center top;
	padding: 55px 0 135px;
	position: relative;
	z-index: 1;
}

.content-section {
	margin-bottom: 50px;
}

.cs-head {
	position: relative;
	padding: 20px 50px 20px 82px;
	overflow: hidden;
	background: url(../img/csh_left.png) no-repeat 33px center, url(../img/csh_right.png) no-repeat right 22px center;
	font-size: 20.83px;
	font-weight: 700;
	color: #fdfdfd;
	h2 {
		margin: 0;
		font: inherit;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 8px;
		bottom: 0;
		right: -500px;
		background: #347299;
		transform-origin: left top;
		transform: skewX(-45deg);
		z-index: -1;
	}
}

.cs-body {
	padding: 30px 30px 40px;
	background: #f6fbff;
	border: solid 1px #cdcccd;
	border-top: none;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 5px;
		right: 5px;
		top: 100%;
		height: 6px;
		border: solid 1px #cdcccd;
		background: #fff;
	}
	p {
		margin-bottom: 20px;
	}
	button[type=submit] {
		margin-top: 35px;
		&.btn-wallet {
			margin-top: 10px;
		}
	}
}

.cs-short {
	max-width: 700px;
}

.form-table {
	width: 100%;
	table-layout: fixed;
	td {
		padding: 7px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

.app-name-cell {
	width: 35%;
}

.country-cell {
	width: 15%;
}

.app-name {
	width: 50%;
}

label {
	font-weight: 600;
	input, select {
		margin-top: 8px;
	}
}

hr {
	border : 0;
    height : 1px;
    background : #ccced1;
    margin : 23px 0;
}

.table-with-price {
	margin-right: -32px;
}

.price-table {
	float: left;
	width: 60%;
}

.price-after-table {
	float: left;
	width: 40%;
	margin-top: 15px;
	padding: 20px 55px;
	background: url(../img/ribbon.png) no-repeat right center;
	font-weight: 600;
	font-size: 14.58px;
	color: #334f6e;
	min-height: 64px;
	text-align: right;
	span {
		display: inline-block;
		margin-left: 17px;
		vertical-align: middle;
		font-size: 20.83px;
		font-weight: 700;
		margin-bottom: 0.25em;
	}
}

.switch {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #878784;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  input {display:none;}
	
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/on_off.png) no-repeat center -71px;
  
}

.slider:before {
  position: absolute;
  content: "";
  top: 0;
  width: 50%;
  right: 0;
  bottom: 0;
  transition: .4s;
  margin-left: 0;
  box-shadow: 1px 0 0 #878784, -1px 0 0 #878784;
  background: #da251d;
  z-index: -1;
}

input:checked + .slider {
  background-position: center 12px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  margin-right: 50%;
  background: #84c225;
}


.for_tabs {
	display: table;
	list-style: none;
	width: 100%;
	li {
		display: table-cell;
		vertical-align: middle;
		width: 1000px;
		background: #347299;
		border: solid 1px #cecece;
		border-bottom: none;
		&:first-child {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				background: #efeeee;
				border-bottom: solid 1px #cecece;
				transform: rotate(-45deg);
				top: -5px;
				left: -5px;
			}
		}
	}
	a {
		display: block;
		text-align: center;
		padding: 20px 5px;
		text-align: center;
		font-size: 20.83px;
		font-weight: bold;
		color: #fdfdfd;
		text-decoration: none;
		
		
	}
	li.active {
		background: white url(../img/csh_left.png) no-repeat 32px center;
		a {
			color: #4d7195;
			padding-left: 55px;
			
		}
	}
}

.companies-list {
	width: 100%;
	border-collapse: collapse;
	color: #717170;
	margin: 30px 0;
	th, td {
		padding: 18px 10px;
		vertical-align: middle;
		border-top: solid 1px #dededd;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			text-align: right;
		}
	}
	th {
		font-weight: normal;
		text-align: center;
	}
}

.cell-tags {
	width: 180px;
}

.cell-country {
	width: 108px;
}

.cell-number-options {
	width: 218px;
}

.options-row {
	display: table;
	width: 198px;
	table-layout: fixed;
	border-collapse: separate;
    border-spacing: 0;
	
	> div {
		display: table-cell;
		text-align: center;
		padding: 7px 5px;
		border: solid 1px #92908f;
		border-right: 0;
		&:first-child {
			border-radius: 4px 0 0 4px;
		}
		&:last-child {
			border-radius: 0 4px 4px 0;
			border-right: solid 1px #92908f;
		}
	}
}

.tabs {
	> div {
		background: white;
		padding: 30px 30px 40px;
		position: relative;
		border: solid 1px #cecdcd;
		border-top: 0;
		&:after {
			content: '';
			position: absolute;
			left: 5px;
			right: 5px;
			top: 100%;
			height: 6px;
			border: solid 1px #cdcccd;
			background: #fff;
		}
	}
}

.cell-name {
	font-weight: 600;
}

.white-bg {
	background: white;
}

.cs-left-full {
	margin-left: -30px;
}

.left-form {
	float: left;
	width: 455px;
}

.cs-right-table {
	margin-left: 515px;
}

.blue-form {
	padding: 35px 62px 56px;
	background: #dde8f0;
	input {
		margin-bottom: 15px;
	}
	button {
		margin-top: 15px;
		
	}
	&.bordered {
		border: solid 1px #d5d5d5;
		border-radius: 4px;
	}
}

.striped-table {
	width: 100%;
	border-collapse: collapse;
	th {
		border-bottom: solid 1px #dededd;
		font-weight: normal;
		text-align: left;
		color: #717170;
		padding: 0 20px 22px;
	}
	td {
		font-weight: 600;
		border-bottom: solid 1px #dededd;
		color: #2f2e2d;
		padding: 14px 20px;
		text-align: left;
	}
	tr:nth-child(even) {
		td {
			background: #f9f9f9;
		}
	}
	tr.total {
		td {
			background: #e8e8e7;
		}
	}
}

.cs-body {
	h3 {
		font-weight: 600;
		font-size: 16.67px;
		color: #347299;
	}
}

.referral-title {
	padding-left: 42px;
	margin-bottom: 60px;
	background: url(../img/i_referral.png) no-repeat left center;
}

.invites-title {
	padding-left: 42px;
	margin-bottom: 40px;
	margin-top: 74px;
	background: url(../img/i_referral2.png) no-repeat left center;
}

.pc-bg {
	background-image: url(../img/pc.png);
	background-repeat: no-repeat;
	background-position: right 90px bottom 0;
}

.referral-earned {
	color: #2a4973;
}

.payment-options {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 8px;
	border-collapse: separate;
	margin-bottom: 18px;
}

.payment-option {
	border-radius: 4px;
	display: table-cell;
	border: solid 1px #959493;
	.payment-image {
		position: relative;
		background: linear-gradient(to bottom, #ffffff, #eae9e8);
		cursor: pointer;
		border-radius: 4px;
		height: 72px;
		
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			max-width: 80%;
			max-height: 80%;
		}
	}
	 input {display:none;}
	 input:checked + .payment-image {
	  background: #dde8f0;
	  &:after {
		content: '';
		position: absolute;
		width: 13px;
		height: 8px;
		left: 0;
		right: 0;
		bottom: -8px;
		margin: auto;
		background: url(../img/blue_corner.png) no-repeat center top;
	  }
	}
}

.wallet-bg {
	background-image: url(../img/wallet.png);
	background-repeat: no-repeat;
	background-position: right 50px bottom 0;
}

.checkout-amount {
	max-width: 410px;
}