//= parts/header.html

<div class="content-section">
	<div class="cs-head">
		<h2>NEW APPLICATION</h2>
	</div>
	<div class="cs-body">
		<div class="cs-short">
			<p>Please enter the hyperlink of your application in Appstore or Google Play</p>
			<form>
				<input type="text" placeholder="Link for application" />
				<button type="submit">Save</button>
			</form>
		</div>
	</div>
</div>

//= parts/footer.html